<h1>STUPID COACHING</h1>
<form action="answer">
  <input type="text" name="query">
  <input type="submit" value="Ask!">
</form>
<h3><%=@ask%></h3>
<h2><%=@answer%> -Coach</h2>
<%= link_to "Reset", ask_path%>
